<div class="grid grid-cols-3 gap-4 mt-8">
  @for (col of statusColumns; track col.title) {
    <div>
      <app-task-col [title]="col.title" [totTasks]="col.tasks().length">
        @if (loading()) {
          <div class="flex w-full flex-col gap-4">
            <div class="skeleton h-32 w-full"></div>
            <div class="skeleton h-32 w-full"></div>
          </div>
        } @else {
          <app-task [tasks]="col.tasks()"></app-task>
        }
      </app-task-col>
    </div>
  }
</div>
